body {
    background-color: #162e35;
    color: #fff3b0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #27424b;
    padding: 1%;
}

ul {
    display: flex;
}

li {
    margin: 10px;
    list-style: none;
}

main {
    background-color: #31464d;
    height: 60vh;
    padding: 1%;
}

footer {
    background-color: #13252b;
    padding: 1%;
}

#logoutBtn {
    max-width: 70px;
    max-height: 40px;
}